[submodule "third_party/CMSIS-NN"]
	path = third_party/CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git

[submodule "third_party/CMSIS-DSP"]
	path = third_party/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git

[submodule "third_party/CMSIS-Core"]
	path = third_party/CMSIS-Core
	url = https://github.com/ARM-software/CMSIS_6.git
